[package]
name = "hf3fs-lib"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[lib]
crate-type = ["cdylib", "staticlib"]

[dependencies]
hf3fs-types.workspace = true
libc.workspace = true
