[package]
name = "hf3fs-lib"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[lib]
crate-type = ["rlib", "cdylib", "staticlib"]

[features]
default = []
ffi = []

[dependencies]
hf3fs-types.workspace = true
libc.workspace = true
